In [1]:
import pandas as pd

NSC

In [2]:
nsc_games_22 = pd.read_excel("Games Data Raw/NSC Games 2022.xlsx")
nsc_games_23 = pd.read_excel("Games Data Raw/NSC Games 2023.xlsx")

In [3]:
nsc_games_all = pd.concat([nsc_games_22, nsc_games_23], ignore_index=True)
nsc_games_all

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Referee,Match Report,Notes
0,2022-02-27,17:00 (19:00),MLS,Regular Season,Sun,Away,W,1,0,Seattle,1.0,0.5,43.0,30013,Dax McCarty,4-1-2-1-2◆,Alex Chilowicz,Match Report,NaN
1,2022-03-05,17:00:00,MLS,Regular Season,Sat,Away,D,1,1,Minnesota Utd,1.7,1.9,45.0,18107,Dax McCarty,4-1-2-1-2◆,Armando Villarreal,Match Report,NaN
2,2022-03-12,19:30:00,MLS,Regular Season,Sat,Away,L,0,2,FC Dallas,0.2,1.7,44.0,13448,Dax McCarty,4-1-3-2,Ramy Touchan,Match Report,NaN
3,2022-03-19,19:30 (20:30),MLS,Regular Season,Sat,Away,L,1,2,Real Salt Lake,2.3,0.9,58.0,20036,Walker Zimmerman,2003-03-04 00:00:00,Tori Penso,Match Report,NaN
4,2022-04-02,18:00 (17:00),MLS,Regular Season,Sat,Away,W,1,0,Columbus Crew,0.9,1.7,34.0,20371,Sean Davis,2003-03-04 00:00:00,Rubiel Vázquez,Match Report,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2023-10-07,19:30 (18:30),MLS,Regular Season,Sat,Away,D,0,0,Philadelphia,0.4,0.5,48.0,19387,Walker Zimmerman,3-4-1-2,Armando Villarreal,Match Report,NaN
74,2023-10-14,19:30:00,MLS,Regular Season,Sat,Home,W,3,2,New England,3.4,0.8,43.0,27780,Walker Zimmerman,2002-04-04 00:00:00,Guido Gonzalez,Match Report,NaN
75,2023-10-21,17:00:00,MLS,Regular Season,Sat,Home,L,0,1,NY Red Bulls,0.5,1.3,57.0,27875,Walker Zimmerman,2002-04-04 00:00:00,Lukasz Szpala,Match Report,NaN
76,2023-10-30,19:00 (18:00),MLS,Round One,Mon,Away,L,0,1,Orlando City,1.2,1.1,41.0,19744,Walker Zimmerman,2002-04-04 00:00:00,Armando Villarreal,Match Report,NaN
77,2023-11-07,20:00:00,MLS,Round One,Tue,Home,L,0,1,Orlando City,0.4,1.2,54.0,25315,Walker Zimmerman,4-1-2-1-2◆,Allen Chapman,Match Report,NaN

In [4]:
# Dropping unnecessary columns
nsc_games_all.drop(["Time", "Day", "Opponent", "Poss", "Captain", "Formation", "Referee", "Match Report", "Notes"], axis=1, inplace=True)

In [5]:
# Renaming some columns to match other DFs
nsc_games_all.rename(columns={"GF": "Score", "GA": "Opponent"}, inplace=True)
nsc_games_all.head(10)

,Date,Comp,Round,Venue,Result,Score,Opponent,xG,xGA,Attendance
0,2022-02-27,MLS,Regular Season,Away,W,1,0,1.0,0.5,30013
1,2022-03-05,MLS,Regular Season,Away,D,1,1,1.7,1.9,18107
2,2022-03-12,MLS,Regular Season,Away,L,0,2,0.2,1.7,13448
3,2022-03-19,MLS,Regular Season,Away,L,1,2,2.3,0.9,20036
4,2022-04-02,MLS,Regular Season,Away,W,1,0,0.9,1.7,20371
5,2022-04-09,MLS,Regular Season,Away,W,2,1,2.8,1.2,18852
6,2022-04-16,MLS,Regular Season,Away,D,2,2,1.8,1.3,10394
7,2022-04-23,MLS,Regular Season,Away,L,0,1,0.4,0.9,26674
8,2022-05-01,MLS,Regular Season,Home,D,1,1,2.0,1.1,30109
9,2022-05-08,MLS,Regular Season,Home,W,2,0,2.4,0.3,28226

Titans

In [6]:
titans_games_22 = pd.read_excel("Games Data Raw/Titans Games 2022.xlsx")
titans_games_23 = pd.read_excel("Games Data Raw/Titans Games 2023.xlsx")

In [7]:
titans_games_all = pd.concat([titans_games_22, titans_games_23], ignore_index=True)
with pd.option_context('display.max_columns', 1000):
    display(titans_games_all.head())

,Week,Day,Date,Unnamed: 3,Unnamed: 4,Unnamed: 5,OT,Rec,Unnamed: 8,Opp,Tm,Opp.1,1stD,TotYd,PassY,RushY,TO,1stD.1,TotYd.1,PassY.1,RushY.1,TO.1,Offense,Defense,Sp. Tms
0,1,Sun,2022-09-11,4:25PM ET,boxscore,L,NaN,0-1,NaN,New York Giants,20.0,21.0,19.0,359.0,266.0,93.0,1.0,19.0,394.0,156.0,238.0,2.0,5.97,-3.72,-2.44
1,2,Mon,2022-09-19,7:15PM ET,boxscore,L,NaN,0-2,@,Buffalo Bills,7.0,41.0,12.0,187.0,107.0,80.0,4.0,23.0,414.0,313.0,101.0,NaN,-18.01,-17.69,-1.55
2,3,Sun,2022-09-25,1:00PM ET,boxscore,W,NaN,2023-01-02 00:00:00,NaN,Las Vegas Raiders,24.0,22.0,19.0,361.0,252.0,109.0,1.0,24.0,396.0,300.0,96.0,1.0,9.10,-9.09,4.28
3,4,Sun,2022-10-02,1:00PM ET,boxscore,W,NaN,2023-02-02 00:00:00,@,Indianapolis Colts,24.0,17.0,19.0,243.0,116.0,127.0,NaN,21.0,365.0,327.0,38.0,3.0,5.33,-3.36,6.98
4,5,Sun,2022-10-09,1:00PM ET,boxscore,W,NaN,2023-03-02 00:00:00,@,Washington Commanders,21.0,17.0,15.0,241.0,136.0,105.0,NaN,17.0,385.0,342.0,43.0,1.0,0.25,-1.03,3.63

In [8]:
# Dropping unnecessary columns
titans_games_all.drop(["Week", "Day", "Unnamed: 3", "Unnamed: 4", "Rec", "OT", "Opp", "1stD", "TotYd", "PassY", "RushY", "TO", "1stD.1", "TotYd.1", "PassY.1", "RushY.1", "TO.1", "Offense", "Defense", "Sp. Tms"], axis=1, inplace=True)

In [9]:
# Dropping bye weeks
titans_games_all.dropna(subset=["Tm"], inplace=True)

In [10]:
# Renaming columns
titans_games_all.rename(columns={"Unnamed: 5": "Result", "Unnamed: 8": "Venue", "Tm": "Score", "Opp.1": "Opponent"}, inplace=True)

In [11]:
# Fixing Venue column data
titans_games_all.fillna("Home", inplace=True)
titans_games_all.loc[titans_games_all["Venue"] == "@", "Venue"] = "Away"

In [12]:
# Converting Score and Opponent to integers
titans_games_all = titans_games_all.astype({'Score': 'int32', "Opponent": "int32"})

In [13]:
# Manually adding in Titans' attendance
print(titans_games_all.shape)
titans_attendance = [67805, 70683, 68649, 65781, 51836, 69459, 68467, 73475, 69240, 77506, 69441, 69879, 68409, 70240, 66634, 69292, 70050, 70024, 67438, 67919, 68951, 65287, 61011, 68008, 65969]
len(titans_attendance)

(25, 5)

25

In [14]:
titans_games_all["Attendance"] = titans_attendance
titans_games_all.head(10)

         Date Result Venue  Score  Opponent  Attendance
0  2022-09-11      L  Home     20        21       67805
1  2022-09-19      L  Away      7        41       70683
2  2022-09-25      W  Home     24        22       68649
3  2022-10-02      W  Away     24        17       65781
4  2022-10-09      W  Away     21        17       51836
6  2022-10-23      W  Home     19        10       69459
7  2022-10-30      W  Away     17        10       68467
8  2022-11-06      L  Away     17        20       73475
9  2022-11-13      W  Home     17        10       69240
10 2022-11-17      W  Away     27        17       77506

Predators

In [15]:
preds_games_22 = pd.read_excel("Games Data Raw/Preds Games 2022.xlsx")
preds_games_23 = pd.read_excel("Games Data Raw/Preds Games 2023.xlsx")

In [16]:
preds_games_all = pd.concat([preds_games_22, preds_games_23], ignore_index=True)

In [17]:
# Dropping unnecessary columns
preds_games_all.drop(["GP", "Opponent", "Unnamed: 7", "W", "L", "OL", "Streak", "LOG", "Notes"], axis=1, inplace=True)

In [18]:
# Renaming columns
preds_games_all.rename(columns={"Unnamed: 6": "Result", "Unnamed: 2": "Venue", "GF": "Score", "GA": "Opponent", "Att.": "Attendance"}, inplace=True)

In [19]:
# Fixing Venue column data
preds_games_all.fillna("Home", inplace=True)
preds_games_all.loc[preds_games_all["Venue"] == "@", "Venue"] = "Away"

In [20]:
preds_games_all.head(10)

        Date Venue  Score  Opponent Result  Attendance
0 2022-10-07  Away      4         1      W       16648
1 2022-10-08  Away      3         2      W       17023
2 2022-10-13  Home      1         4      L       17692
3 2022-10-15  Away      1         5      L       18532
4 2022-10-18  Home      3         4      L       17159
5 2022-10-20  Away      3         5      L       14691
6 2022-10-22  Home      1         3      L       17470
7 2022-10-27  Home      6         2      W       17159
8 2022-10-29  Home      0         3      L       17159
9 2022-11-01  Away      4         7      L       16812

Add a Stadium Percent Full column for each team, with values only during home games

In [25]:
nsc_games_all["Percent"] = 0
nsc_games_all.loc[nsc_games_all["Venue"] == "Home", "Percent"] = nsc_games_all.Attendance / 30109

titans_games_all["Percent"] = 0
titans_games_all.loc[titans_games_all["Venue"] == "Home", "Percent"] = titans_games_all.Attendance / 69459

preds_games_all["Percent"] = 0
preds_games_all.loc[preds_games_all["Venue"] == "Home", "Percent"] = preds_games_all.Attendance / 17823

Confirm that all the important columns have the same name

In [29]:
nsc_games_all

,Date,Comp,Round,Venue,Result,Score,Opponent,xG,xGA,Attendance,Percent
0,2022-02-27,MLS,Regular Season,Away,W,1,0,1.0,0.5,30013,0.000000
1,2022-03-05,MLS,Regular Season,Away,D,1,1,1.7,1.9,18107,0.000000
2,2022-03-12,MLS,Regular Season,Away,L,0,2,0.2,1.7,13448,0.000000
3,2022-03-19,MLS,Regular Season,Away,L,1,2,2.3,0.9,20036,0.000000
4,2022-04-02,MLS,Regular Season,Away,W,1,0,0.9,1.7,20371,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
73,2023-10-07,MLS,Regular Season,Away,D,0,0,0.4,0.5,19387,0.000000
74,2023-10-14,MLS,Regular Season,Home,W,3,2,3.4,0.8,27780,0.922648
75,2023-10-21,MLS,Regular Season,Home,L,0,1,0.5,1.3,27875,0.925803
76,2023-10-30,MLS,Round One,Away,L,0,1,1.2,1.1,19744,0.000000
77,2023-11-07,MLS,Round One,Home,L,0,1,0.4,1.2,25315,0.840779

In [30]:
titans_games_all

         Date Result Venue  Score  Opponent  Attendance   Percent
0  2022-09-11      L  Home     20        21       67805  0.976187
1  2022-09-19      L  Away      7        41       70683  0.000000
2  2022-09-25      W  Home     24        22       68649  0.988338
3  2022-10-02      W  Away     24        17       65781  0.000000
4  2022-10-09      W  Away     21        17       51836  0.000000
6  2022-10-23      W  Home     19        10       69459  1.000000
7  2022-10-30      W  Away     17        10       68467  0.000000
8  2022-11-06      L  Away     17        20       73475  0.000000
9  2022-11-13      W  Home     17        10       69240  0.996847
10 2022-11-17      W  Away     27        17       77506  0.000000
11 2022-11-27      L  Home     16        20       69441  0.999741
12 2022-12-04      L  Away     10        35       69879  0.000000
13 2022-12-11      L  Home     22        36       68409  0.984883
14 2022-12-18      L  Away     14        17       70240  0.000000
15 2022-12-24      L  Home     14        19       66634  0.959329
16 2022-12-29      L  Home     13        27       69292  0.997596
17 2023-01-07      L  Away     16        20       70050  0.000000
18 2023-09-10      L  Away     15        16       70024  0.000000
19 2023-09-17      W  Home     27        24       67438  0.970904
20 2023-09-24      L  Away      3        27       67919  0.000000
21 2023-10-01      W  Home     27         3       68951  0.992686
22 2023-10-08      L  Away     16        23       65287  0.000000
23 2023-10-15      L  Home     16        24       61011  0.878374
25 2023-10-29      W  Home     28        23       68008  0.979110
26 2023-11-02      L  Away     16        20       65969  0.000000

In [31]:
preds_games_all

         Date Venue  Score  Opponent Result  Attendance   Percent
0  2022-10-07  Away      4         1      W       16648  0.000000
1  2022-10-08  Away      3         2      W       17023  0.000000
2  2022-10-13  Home      1         4      L       17692  0.992650
3  2022-10-15  Away      1         5      L       18532  0.000000
4  2022-10-18  Home      3         4      L       17159  0.962745
..        ...   ...    ...       ...    ...         ...       ...
89 2023-10-28  Home      3         2      W       17537  0.983953
90 2023-10-31  Away      2         5      L       18413  0.000000
91 2023-11-02  Away      2         4      L       17151  0.000000
92 2023-11-04  Away      5         2      W       18354  0.000000
93 2023-11-07  Away      2         4      L       16975  0.000000

[94 rows x 7 columns]

Writing to CSV

In [32]:
nsc_games_all.to_csv("Games Data Cleaned/NSC Games.csv")
titans_games_all.to_csv("Games Data Cleaned/Titans Games.csv")
preds_games_all.to_csv("Games Data Cleaned/Preds Games.csv")